body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

button, input{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

